[Unit]
Description=Checks chkdir
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bootcheck.sh
StandardInput=tty
StandardOutput=tty
# StandardError=inherit
# KillMode=process
# IgnoreSIGPIPE=no
TimeoutSec=0

[Install]
WantedBy=basic.target
