[Unit]
Description=Creates hashes

[Service]
Type=oneshot
ExecStart=/usr/bin/python /usr/bin/chkbootal.py shutdown
TimeoutSec=0
StandardInput=tty
RemainAfterExit=no

[Install]
WantedBy=shutdown.target
