[Unit]
Description=Checks chkdir
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/chkbootal.py boot
# TimeoutSec=0
StandardOutput=tty
StandardInput=tty-force
KillMode=process
IgnoreSIGPIPE=no
RemainAfterExit=no

[Install]
WantedBy=basic.target
Also=chkbootal-stop.service